gcp_project: gcp-rhel-gold-image-bakery
gcp_cred_kind: serviceaccount
service_account_file: gcp-creds.json

rhsm_api_offline_token: YourOfflineToken

# Find images by running `gcloud compute images | grep 'rhel'`
image_base: projects/rhel-cloud/global/images/rhel-8-v20210316

#### Probably don't need to edit these vars

gcp_zone: us-central1-a
gcp_region: us-central1

disk_name: eph-bakery-disk
vpc_name: eph-bakery-vpc
static_ip_name: eph-bakery-ip
vm_name: eph-bakery-vm
vm_size: n1-standard-1
firewall_name: eph-bakery-fw

temporary_path: /tmp/.gcp-bakery

subnet_cidr: 172.16.0.0/16