#!/bin/bash -

##set -e

guestfish -a /opt/{{ imageList | json_query(imageFileName) | first }} -i <<'EOF'
  mkdir /root/.ssh/
EOF

guestfish -a /opt/{{ imageList | json_query(imageFileName) | first }} -i <<'EOF'
  chown 0 0 /root/.ssh/
EOF

guestfish -a /opt/{{ imageList | json_query(imageFileName) | first }} -i <<'EOF'
  chmod 0700 /root/.ssh/
EOF

guestfish -a /opt/{{ imageList | json_query(imageFileName) | first }} -i <<'EOF'
  write /root/.ssh/authorized_keys "{{ hostvars['localhost']['rsa_key_pair']['public_key'] }}"
EOF

guestfish -a /opt/{{ imageList | json_query(imageFileName) | first }} -i <<'EOF'
  chmod 0600 /root/.ssh/authorized_keys
EOF